.Box{
    height: 40em;
    width: 40em;
    border-style: outset;
    border-width: 20px;
    border-radius: 50px;
    
    }

.heading{
    padding: 40px;
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: center;
}

.news{
    padding: 30px;
    color: #685206; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word;
}


.Box-button{
    color: whitesmoke;
    margin-left: 35%;
    padding:0.35em 1.2em;
    border:0.1em solid #d8d8d8;


    border-radius:7em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    }


