*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr;
    grid-template-rows: 0.2fr 4fr 4fr 0.8fr;
    grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "maincontent maincontent maincontent maincontent"
    "footer footer footer footer";
}
nav{
    padding: 2vh;
    background-color: black;
    text-align: center;
    grid-area: nav;
}
nav ul{
    float: left;
    list-style-type: none;
    margin-left: 120px;
}

nav ul li{
    display: inline-block;
    margin-left: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    margin-left: 7px; 
}
main{
    text-decoration: none;
    background-color: #c6bfbf;
    padding: 9vh;
    grid-area: main;
}
main h1{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}
main p{
    color: black;
    font-size: large;

}

#maincontent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 25.2vh;
    grid-area: maincontent;
    color: black;
    text-decoration: none;

}




footer{
    padding: 2vh;
    background-color: #0b4d14;
    grid-area: footer;
    list-style-type: none;
}
footer ul{
    float: left;
    list-style-type: none;
    margin-left: 120px;
}

footer ul li{
    display: inline-block;
    margin-left: 10px;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    margin-left: 7px;
}
footer ol{
    float: right;
    list-style-type: none;
    margin-right: 120px;
}

footer ol li{
    display: inline-block;
    margin-left: 10px;
}

footer ol li a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    margin-left: 7px;}
